<!DOCTYPE>
<html ng-app ="ContactMgr">
    <header>
        <title> Contact List Manager </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="/Controller/controller.js"></script>
    </header>
    <body>
          <div class="container">
              <div ng-controller="contactController">
                  <h1> Contact List Manager </h1>
                  <form class="form-inline" name="contactForm">
                      <div class="form-group">
                          <input class="form-control" ng-model="contact.Name" placeholder="Name" name="Name" required>
                          <input class="form-control" ng-model="contact.Mobile" placeholder="Mobile" name="Mobile" ng-pattern="/^\d{10}$/" required>
                          <input class="form-control" ng-model="contact.Email" placeholder="Email" name="Email" type="email" required>
                          <br><br>
                          <button class="btn btn-success" ng-click="addContact()" ng-hide="edit" ng-disabled="contactForm.Name.$invalid || contactForm.Mobile.$invalid || contactForm.Email.$invalid">Add</button>
                          <button class="btn btn-warning" ng-click="updateContact()" ng-show="edit" ng-disabled="contactForm.Name.$invalid || contactForm.Mobile.$invalid || contactForm.Email.$invalid">Update</button>
                          <br><br>
                      </div>
                  </form>
                      <div class="list-group">
                        <div class="list-group-item" ng-repeat="contact in contactList">
                            <img src="img\user.jpg" style="width:64px;height:64px;"/>
                            <em class="pull-right" ><h3>{{contact.Name}}</h3></em><br>
                            <em class="pull-right">{{contact.Mobile}}</em><br>
                            <em class="pull-right">{{contact.Email}}</em><br>
                            <button class="btn btn-danger" ng-click="removeContact(contact._id)" ng->Delete</button>
                            <button class="btn btn-primary" ng-click="editContact(contact._id)">Edit</button>
                        </div>
                      </div>
              </div>
        </div>
    </body>
</html>  